#progressSummary .progress-labels {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    #progressSummary .progress-labels {
        display: none;
    }
}

#progressSummary .progress-labels > .progress-label-item {
    text-align: center;
}

#progressSummary .progress-labels > .progress-label-item::before {
    content: "↑";
    display: block;
}

#stepsCarousel {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

#infoAjudarContent .carousel-item > .carousel-step {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media only screen and (min-width: 768px) {
    #infoAjudarContent .carousel-item > .carousel-step {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #infoAjudarContent .carousel-indicators {
        display: none;
    }
}

#faqCard #faqPesquisaDiv {
    width: 275px;
}

@media only screen and (max-width: 768px) {
    #faqCard > .card-header > * {
        width: min-content;
        margin: 1px auto;
    }  
}

@media only screen and (min-width: 768px) {
    #faqCard > .card-header {
        display: flex;
        justify-content: space-between;
    }
}

#faqCard > .card-body{
    padding: 0px 5px;
} 

#faqCard > .card-body > *{
    margin: 5px 0px;
} 

