main{
    background-color: #ffffff;
}
.ok{
    margin-right: 1em;
    margin-left: 1em;
    
}
.ko{
    margin-top: 1em;
    
    
}
.write1{
  height: 3em;  
  margin-top: 1em;
  align-items: center;
  margin-left: 2em;

}
.inputtext{
     width: 100%;

}
.grafico{
   
   width: 300px;
   height: 300px;
   align-items:center;
   
}
.color{
    background-color:  #b4a7d6;
}
.color2{
    background-color:  #957cd4;
}
.escrever{
    max-width: 200px;
    padding: 3px;
    
}
.write{
    align-items:center;
    color: black;
}

.ko2{
    margin-top:2em;
}
.nome{
    
    margin-top: 0.5em;
}
.d-flex{
   display: flex;
}

@media screen and (min-width:990px) and (max-width:1500px){
    .grafico{
        width:200px;
        align-items:center;
    }
    .escrever{
        max-width: 150px;
        margin-left: -1em;
    }
    .write{
        align-items:center;
        margin-left: -0.3em;
    }
 }
 @media screen and  (max-width:990px){
     
     .write{
       align-items:center;
        
    }
    .d-flex{
        flex-wrap: wrap;
    }
 }
@media screen and (min-width:990px) and (max-width:1500px){
    .profile{
        margin-left: 3em;
    }
}

#postList > li {
    margin: 5px auto;
    display: block;
}

#postList {
    padding: 5px;
}
