<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="../img/profile.png" class="profile-pic mr-3">
            <h3>{user.nome}</h3>
        </div>
        <div>
            <small>Minha Nota:</small>
            <ul id="ratePost{id}" class="rate-post-list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <small>Nota Geral:</small>
            <ul class="rate-post-list rated">
                {postRating.averageRate}
            </ul>
        </div>
    </div>
    <div class="card-body text-left">
        <h3>{titulo}</h3>
        <p>{texto}</p>
    </div>
</div>